.header {
  grid-area: header;
  z-index: 10;
  padding: 18px 0px 0px 12px;
  min-height: 20px;
  background: #f7f7f7;
  border-bottom: 1px solid #afafaf;
}
.header h1 {
  display: inline;
  font-size: 25px;
}

div.search-box {
  background: #e6e6e6;
  border-right: 1px solid #b3b0b0;
  padding: 10px;
}
/* WHILE SEARCHING FOR COMPONENTS */
.loading {
  /* background-image: url("assets/img/Blocks.svg"); */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
div.info-box {
  /* margin:30px; */
  width: 100%;
  align-content: center;
}
.wrapper {
  display: grid;
  grid-template-areas: "header header";
  grid-template-columns: 25% 1fr;
  grid-template-rows: 60px 1fr 0px;
  min-height: 100vh;
  border: 1px solid #b3b0b0;
  margin: 3%;
}

@media screen and (max-width: 600px) {
  .wrapper {
    grid-template-areas: "header" "search-box" "info-box" "flight-card";
    grid-template-columns: 100%;
    grid-template-rows: 70px 400px 0.1fr 0.5fr;
    overflow: scroll;
  }
}